body {
    min-width: 320px;
    margin-bottom: 20px;
}

.container .jumbotron,
.btn,
.panel,
.alert,
.form-control,
.table,
pre {
    border-radius: 2px;
}

#home h1 {
    font-size: 40px;
}

@media (min-width: 768px) {
    .pull-right-md-lg {
        float: right;
    }
}

.navbar-brand {
    display: inline-block;
    padding: 0;
}

.navbar-brand > img {
    display: inline;
    width: 50px;
    height: 50px;
    margin-right: 5px;
}

.btn-share-link {
    width: 45px;
    border: 0;
    text-align: center;
}

.color-facebook {
    color: #4867aa;
}

.color-twitter {
    color: #1da1f2;
}

.color-google-plus {
    color: #dd4f43;
}

.color-linkedin {
    color: #0077b5;
}
