<section id="howItWorks" class="mt-4 mb-2">
  <div class="row">
    <div class="col">
      <h2>
        <%= __('howItWorks') %>
      </h2>
      <div class="card my-3">
        <div class="card-body">
          <p class="mb-0" style="white-space: pre-wrap;"><%= __('howItWorksDescription') %></p>
        </div>
      </div>
    </div>
  </div>
</section>