<section id="landing" class="jumbotron my-3">
  <h1 class="text-truncate">
    <%= config.library.name %> <span class="d-none d-lg-inline"><small id="preview" class="text-muted"></small></span>
  </h1>
  <p>
    <%= __('app.name') %>
  </p>
  <p>
    <a class="btn btn-lg btn-primary" href="#demo" role="button">
      <%= __('demo') %>
    </a>
    <a class="btn btn-lg btn-default" href="#usageExample" role="button">
      <%= __('usageExample') %>
    </a>
  </p>
</section>