<form method="post" action="/contact-me">
    <div class="form-group required">
        <label for="name"><%= __('your-name') %></label>
        <input type="text" class="form-control" id="name" name="name" required>
    </div>
    <div class="form-group required">
        <label for="email"><%= __('your-email-address') %></label>
        <input type="email" class="form-control" id="email" name="email" required>
    </div>
    <div class="form-group required">
        <label for="message"><%= __('message-text') %></label>
        <textarea class="form-control" id="message" name="message" required rows="8"></textarea>
    </div>
    <button type="submit" class="btn btn-primary"><%= __('send') %></button>
</form>
