<% flashes.forEach((flash) => { %>
<div class="alert alert-<%= flash.type %> alert-dismissable my-2" role="alert">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a><%= flash.message %>
</div>
<% }); %>
