<div class="row mt-4 mb-2">
    <div class="col">
        <h2 id="howItWorks"><%= __('howItWorks') %></h2>
        <div class="card my-3">
            <div class="card-body">
                <p style="white-space: pre-wrap;"><%= __('howItWorksDescription') %></p>
            </div>
        </div>
    </div>
</div>